body{
    display: flex;
    justify-content: center;
    background-color: grey;
    background-image: url("./img/981072c1046a6ce2eab30f6036ce0666.jpg");
    background-repeat: repeat;
    animation: animatedBackground 30s linear infinite;
}

.contentBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.cookieBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.upgradeBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cookieBoxHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    color:black;
}
#headerText{
    background-color: orangered;
    border: 2px solid white;
    padding: 5px;
}
#cookieImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed white;
    margin-bottom: 50px;
    box-shadow: 0px 0px 50px black;
    background-color: #A07B3F;
}

.clickInfoBlock{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13%;
}

.clickInfoMiniBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    border: 2px solid white;
    background-color: orange;
}

.cookieGainInfo{
    display: flex;
    justify-content: center;
    height: 50%;
}

.upgrade{
    display: flex;
    width: 100%;
    background-color: orangered;
    border: 2px solid white;
    margin: 2px;
}

.upgradeDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.upgradeButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: orange;
}

.upgradeName{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
}
.upgradeInfo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.unclickable{
    pointer-events: none;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 980px 980px; }
}